<div class="row">
  <%= form_for @user, html: {class: "col s12"} do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.text_field :first_name, class: "validate" %>
        <%= f.label :first_name %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :last_name, class: "validate" %>
        <%= f.label :last_name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <%= f.text_field :username, class: "validate" %>
        <%= f.label :username %>
      </div>
    </div>
    <%= button_tag class: "btn waves-effect waves-light", name: "action" do %>
      Submit
      <i class="material-icons right">send</i>
    <% end %>
  <% end %>
</div>
